# ======================================
# .NET / C# Ignore
# ======================================

# Build e binários
bin/
obj/
out/
publish/

# Pacotes NuGet locais
*.nupkg
*.snupkg
packages/
.nuget/

# Arquivos de usuário do Visual Studio / Rider
*.user
*.suo
*.userosscache
*.sln.docstates
.idea/

# Configurações do VS Code
.vscode/

# Logs
*.log

# Arquivos temporários
*.tmp
*.temp

# ======================================
# Docker Ignore
# ======================================
*.pid
.env

# ======================================
# Sistema operacional
# ======================================
.DS_Store
Thumbs.db
